<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{.Title}} - Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {{if .ExtraCSS}}
    <link rel="stylesheet" href="/static/css/{{.ExtraCSS}}">
    {{end}}
</head>

<body>
    <header class="site-header">
        <div class="container">
            <h1><a href="/">Groupie Tracker</a></h1>
            <nav>
                <a href="/">Home</a> •
                <a href="/artists">Artists</a> •
                <a href="/locations">Locations</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {{template "error-content" .}}
    </main>

    <footer class="site-footer">
        <div class="container">© 2024 Groupie Tracker</div>
    </footer>

    {{if .ExtraJS}}
    <script src="/static/js/{{.ExtraJS}}"></script>
    {{end}}
</body>

</html>
